.card {
  position: relative;
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 30px;
  gap: 50px;
}

.card::before {
  position: absolute;
  content: "";
  width: 300%;
  height: 300%;
  background-image: conic-gradient(gray,brown,rgba(139, 55, 55, 0.192));
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card::after {
  background-image: url(../public/tuananh-blue-4u3_pQklVwc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 4px;
  z-index: 1;
  content: "";
  filter: hue-rotate() (1);
}
.card input {
  background-color: aliceblue;
  color: black;
}
.card label {
  color: black;
  font-weight: bold;
  font-size: 32px;
}
.card label,
.card input {
  width: 250px;

  z-index: 10;
}
.button1,
.button2 {
  background-color: gray;
  color: white;
  z-index: 3;
  padding: 50px;
  z-index: 3;
  font-weight: bold;
  height: 100px;
  font-size: 20px;
}
.button1:hover,
.button2:hover {
  color: black;
  background-color: gray;
}
.rr {
  z-index: 7;
  width: 30%;
}
.bb {
  z-index: 3;
  display: flex;
  justify-content: space-between;
}
